GOOGLE_SHEETS_ID=
GOOGLE_SCHEDULE_SHEET_ID=1uEvu2RU9JT67n4erJu6U0F2sS2MxZGeh1QmTd8qfZ-Q
GOOGLE_SCHEDULE_SHEET_NAME=Изменения
GOOGLE_RATING_SHEET_ID=1Szn0mOGV9lnZO7ODrZftiBVEnUYHxcAii408GXuwnqI
GOOGLE_RATING_SHEET_NAME=1
GOOGLE_EVENTS_SHEET_ID=1lSH-KBbhocfYSadrJUQUyJvo2Xlf7aj72VXsv1WYiL0
GOOGLE_EVENTS_SHEET_NAME=1
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
ADMIN_PASSWORD=school46
